.separador{
    margin: 20px;
    padding: 20px;
    width: 30%;
}
.tamaño{
    width: 70%;
}

.worldQuest{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}